<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Weather App</title>
  </head>
  <body>
    <form method="post" action="/weather">
      <div class="checkbox-div">
        <label for="zipCode">Zip code:</label>
        <input type="text" name="zipCode" id="zipCode" />
        <input type="submit" value="Search" />
      </div>
      <div>
        <label
          >zipCodes Examples (Please copy and paste each one to test)</label
        >
      </div>
      <div>
        <ul>
          <li>10001</li>
          <li>33101</li>
          <li>11101</li>
          <li>30004</li>
          <li>33401</li>
        </ul>
      </div>
    </form>
  </body>
</html>
