<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <a href="/">Back to home!</a>
      <div><label>City: </label><%=data.name %></div>
      <div><label>Temperature: </label><%=data.main.temp %></div>
      <div><label>Description: </label><%=data.weather[0].description %></div>
    </div>
  </body>
</html>
